@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  /* ■フォント■ */
  /* 基本フォント */
  --font-mono: "Noto Sans JP", sans-serif;
  /* タイトル用フォント */
  --font-accent: "Dela Gothic One", sans-serif;

    /* ■フォントサイズ(DeskTop)■ */
    --font-size-L: 12rem;
    --font-size-M: 2.5rem;
    --font-size-S: 1.5rem;
    --font-size-XS: 1.0rem;

    /* ■フォントサイズ(mobile)■ */
  --sp-font-size-L: 3.5rem;
  --sp-font-size-ML: 3.0rem;
  --sp-font-size-M: 2.0rem;
  --sp-font-size-S: 0.9rem;
  --sp-font-size-XS: 0.7rem;

  /* ■文字間■ */
  --letter-space: .2rem;

  /* ■行高さ■ */
  --line-height: 1.5rem;

  /* ■文字色■ */
  --font-color-base: #000000;
  --font-color-gray: #686868;

  /* ■背景色■ */
  --foreground-base-rgb: #ffffff;
  --foreground-accent-rgb: #94ff00;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: bold;
  font-family: var(--font-mono);
  background-color: var(--foreground-rgb);
}