.main {}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {
  .header_block {
    height: 100svh;

    & .header_titlearea {
      width: 100vw;
      height: 50%;
      background-color: var(--foreground-accent-rgb);
      display: flex;
      justify-content: center;
      align-items: center;

      & .header_title {
        display: inline-block;
        font-family: var(--font-accent);
        font-size: var(--sp-font-size-L);
        white-space: pre-wrap;
        line-height: 5rem;
      }
    }

    & .header_buttonarea {
      width: 100vw;
      height: 45%;
      position: relative;

      & .header_button {
        display: inline-block;
        text-align: center;
        width: 70%;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        text-decoration: none;
        color: var(--font-color-base);
        border: 1px solid var(--font-color-base);
        border-radius: 50px;
        font-family: var(--font-accent);
        font-size: var(--font-size-M);
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: var(--letter-space);
        background-color: var(--foreground-accent-rgb);
      }
      &:before {
        content: ('＼さっそく注文はこちら！／');
        font-size: var(--sp-font-size-S);
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
      }
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {
  /* from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  } */
}