.main {}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {

  // ヘッダー部
  .header {
    .header_block {
      height: 100svh;

      & .header_titlearea {
        width: 100vw;
        height: 70%;
        background-color: var(--foreground-accent-rgb);
        display: flex;
        flex-direction: column;
        align-items: center;


        & .header_title {
          position: relative;
          flex: 2;
          display: inline-block;
          width: 90%;
          font-family: var(--font-accent);
          font-size: var(--sp-font-size-L);
          white-space: pre-wrap;
          line-height: 5rem;
          margin-top: 70px;

          &:before {
            content: 'ウォレットにあるNFT画像を';
            position: absolute;
            font-size: var(--sp-font-size-S);
            color: var(--font-color-base);
            left: 0;
            top: -8%;
            font-weight: normal;
          }

          &:after {
            content: 'ステッカーにするサービスです';
            position: absolute;
            font-size: var(--sp-font-size-S);
            color: var(--font-color-base);
            right: 5%;
            top: 38%;
            font-weight: normal;
          }
        }

        & .header_img {
          flex: 1;
          width: 90%;
          object-fit: contain;
        }
      }

      & .header_buttonarea {
        width: 100vw;
        height: 40%;
        position: relative;

        & .header_button {
          display: inline-block;
          text-align: center;
          width: 70%;
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translateX(-50%);
          text-decoration: none;
          color: var(--font-color-base);
          border: 1px solid var(--font-color-base);
          border-radius: 50px;
          font-family: var(--font-accent);
          font-size: var(--font-size-M);
          font-weight: bold;
          padding-top: 10px;
          padding-bottom: 10px;
          letter-spacing: var(--letter-space);
          background-color: var(--foreground-accent-rgb);
        }

        &:before {
          content: ('＼さっそく注文はこちら！／');
          font-size: var(--sp-font-size-S);
          font-weight: bold;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 10%;
        }
      }
    }
  }

  // メイン部
  .main {
    width: 80%;
    margin: 0 auto;

    & .section {
      text-align: center;
      margin-bottom: 100px;

      // SECTION-SURVICE
      & .section_survice_title {
        position: relative;
        color: var(--font-color-base);
        font-family: var(--font-accent);
        font-size: var(--font-size-M);
        text-decoration: solid underline var(--foreground-accent-rgb) 5px;

        &:after {
          content: 'サービス内容';
          position: absolute;
          font-size: var(--sp-font-size-S);
          color: var(--font-color-gray);
          left: 50%;
          top: 110%;
          transform: translateX(-50%);
          font-weight: normal;
        }
      }

      & .senction_survice_ulist {
        list-style: square;
        list-style-position: inside;
        text-align: left;
        line-height: var(--line-height);
        font-size: var(--sp-font-size-S);
        margin-top: 50px;

        & .section_survice_ulist_li {
          margin-top: 15px;
          font-weight: 600;
        }
      }

      // SECTION-PRICE
      & .section_price_title {
        position: relative;
        color: var(--font-color-base);
        font-family: var(--font-accent);
        font-size: var(--font-size-M);
        text-decoration: solid underline var(--foreground-accent-rgb) 5px;

        &:after {
          content: '値段';
          position: absolute;
          font-size: var(--sp-font-size-S);
          color: var(--font-color-gray);
          left: 50%;
          top: 110%;
          transform: translateX(-50%);
          font-weight: normal;
        }
      }

      & .section_price_big {
        margin-top: 40px;
        font-size: 5rem;
        font-weight: 900;

        & span {
          font-size: 3rem;
        }
      }

      & .senction_price_ulist {
        list-style: square;
        list-style-position: inside;
        text-align: left;
        line-height: var(--line-height);
        font-size: var(--sp-font-size-S);
        margin-top: 20px;

        & .section_price_ulist_li {
          margin-top: 15px;
          font-weight: 600;
          color: var(--font-color-gray);
        }
      }

      // SECTION-HOW TO ORDER
      & .section_how_title {
        position: relative;
        color: var(--font-color-base);
        font-family: var(--font-accent);
        font-size: var(--font-size-M);
        text-decoration: solid underline var(--foreground-accent-rgb);

        &:after {
          content: '注文方法';
          position: absolute;
          font-size: var(--sp-font-size-S);
          color: var(--font-color-gray);
          left: 50%;
          top: 110%;
          transform: translateX(-50%);
          font-weight: normal;
        }
      }

      & .section_how_stepblock {
        margin-top: 50px;


        & .section_how_steptitle {
          display: flex;

          & .section_how_stepnumber {
            display: block;
            margin-right: 20px;

            & .section_how_number {
              font-size: var(--sp-font-size-M);
              font-weight: 900;
            }
          }

          & .section_how_text {
            align-self: center;
            text-align: left;
          }
        }
        & .section_how_img1 {
          max-width: 100%;
          max-height: 100px;
          object-fit: contain;
        }
        & .section_how_img2 {
          max-width: 100%;
          max-height: 200px;
          object-fit: contain;
          margin-top: 25px;
        }
        & .section_how_img3 {
          max-width: 100%;
          max-height: 300px;
          object-fit: contain;
          margin-top: 25px;
        }
        & .section_how_img4 {
          max-width: 100%;
          max-height: 200px;
          object-fit: contain;
          margin-top: 15px;
        }


      }

    }


  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {
  /* from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  } */
}