.MeataMask {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100vw;
  min-height: 10vh;

  &  button {
    /* margin-top: 0.5em; */
    font-size: var(--font-size-XS);
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0.5em 1em;
    background-color: var(--foreground-accent-rgb);
    color: var(--font-color-gray);
    border-radius: 20px;

    &:hover {
      opacity: .7;
    }
  }
}



