.card_block {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  background-color: #111;
  border-radius: 20px;

  & .card_img_block {
    border-radius: 10px;
    overflow: hidden;

    & .card_img {
      width: 100%;
      transition: 0.1s all;

      &:hover {
        transform: scale(1.1, 1.1);
        transition: 0.3s all;
      }
    }
  }

  & .card_detail {
    & .card_title {
      color: var(--font-color-base);
      font-size: var(--font-size-XS);
      font-weight: 400;
      margin: 5px auto;
    }

    & .addCart {
      background-color: #353432;
      color: var(--font-color-base);
      padding: 5px 10px;
      border-radius: 20px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }
  }
}