.order_page {
  width: 90%;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  transition: .5s;
  font-family: var(--font-mono);

  & .order_page_header {
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: var(--foreground-rgb);
    z-index: 10;

    & .walletaddress_block {
      & input {
        display: inline-block;
        width: 500px;
        height: 40px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 10px 10px 10px 10px;
        margin-right: 2px;
      }

      & button {
        vertical-align: middle;
        height: 40px;
        border-radius: 3px;
        border: 1px solid lightgray;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: var(--foreground-accent-rgb);
        cursor: pointer;
      }
    }
  }

  & .order_page_body {
    width: 100%;
    margin-top: 80px;

    // カートアイコン
    & .icon_cart {
      position: fixed;
      top: 40px;
      right: 40px;
      cursor: pointer;

      & .icon_cart_inner {
        position: relative;

        & svg {
          width: 30px;
          color: var(--font-color-base);
        }

        & span {
          display: flex;
          width: 30px;
          height: 30px;
          background-color: red;
          justify-content: center;
          align-items: center;
          color: var(--font-color-base);
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: -20px;
        }
      }
    }

    // NFTの画像表示（商品一覧）
    & .ListProduct {
      width: 100%;
      transition: .5s;

      & .order_nftcard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        // filter: drop-shadow(0 50px 20px #0009)
      }
    }

    // カート内容
    & .cartTab {
      width: 400px;
      background-color: #353432;
      color: var(--font-color-base);
      position: fixed;
      inset: 0 -400px 0 auto;
      display: grid;
      grid-template-rows: 70px 1fr 70px;
      transition: .5s;

      & h1 {
        padding: 20px;
        margin: 0;
        font-weight: 300;
      }

      & .listCart {
        overflow: auto;

        &::-webkit-scrollbar {
          width: 0;
        }

        & .item {
          display: grid;
          grid-template-columns: 70px 150px 50px 1fr;
          gap: 10px;
          text-align: center;
          align-items: center;

          &:nth-child(even) {
            background-color: #eee1;
          }

          & img {
            width: 100%;
          }

          & .quantity {
            & span {
              display: inline-block;
              width: 25px;
              height: 25px;
              background-color: var(--font-color-base);
              color: #353432;
              border-radius: 50%;
              cursor: pointer;
              text-align: center;
              line-height: 25px;
              user-select: none;

              &:hover {
                opacity: .7;
              }

              &:nth-child(2) {
                background-color: transparent;
                color: var(--font-color-base);
                cursor: default;
              }
            }
          }

        }
      }

      & .btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & button {
          // background-color: #E8BC0E;
          background-color: var(--foreground-accent-rgb);
          border: none;
          font-family: Poppins;
          font-weight: 500;
          cursor: pointer;
        }

        & .close {
          // background-color: #eee;
          background-color: var(--font-color-gray);
        }
      }
    }
  }
}

.showCart {
  & .order_page {

    & .ListProduct {
      transform: translateX(-250px);
    }

    & .cartTab {
      inset: 0 0 0 auto
    }

  }
}

@media screen and (max-width:992px) {

  // NFTの画像表示（商品一覧）
  .order_page {
    & .order_page_body {

      // カートアイコン
      & .ListProduct {
        & .order_nftcard {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}